:root {
     --bg1-color: #fff;
     --bg2-color: #013189;
     --bg3-color: #f8f8f8;
     --bg4-color: #172183;
     --bg5-color: #f5f5f5;
     --text1-color: #333;
     --text2-color: #243f99;
     --text3-color: #fff;
     --text4-color: #555;
     --boxshadow1-color: rgb(0 0 0 / 20%);
     --boxshadow2-color: rgb(0 0 0 / 50%);
     --boxshadow3-color: rgb(102 102 102 / 90%);

     --border1-color: #ccc;
     --border2-color: #243f99;
     --hover1-color: red;
     --hover2-color: #243f99;
}
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
html {
     font-size: 62.5%;
}
body {
     font-family: "Roboto", sans-serif;
     /* font-family:  Geneva, Tahoma, sans-serif; */
     font-size: 1.6rem;
     line-height: 1.6;
     text-rendering: optimizeSpeed;
}

/* css btn main */
.btn-main {
     color: var(--text3-color);
     background-color: var(--bg2-color);
     padding: 1.5rem 3.5rem;
     border: none;
     border-radius: 2px;
     text-transform: uppercase;
     font-weight: 600;
     text-decoration: none;
     font-size: 1.5rem;
     letter-spacing: 1px;
     box-shadow: 1px 1px 5px 1px var(--boxshadow3-color);
}
.btn-main:hover {
     opacity: 0.9;
     transition: all 0.5s linear;
     box-shadow: 1px 1px 5px 1px #333;
}
/* css main des  */
.des-main {
     font-size: 18px;
     color: var(--text4-color);
     padding: 30px 0 20px 0;
}
/* css detail main      */
.detail-main {
     color: var(--text4-color);
     padding-left: 10px;
     font-size: 20px;
}
/* css span main 1  */
.span-main-1 {
     color: royalblue;
}
.span-main-1 svg {
     width: 25px;
     height: 25px;
}
/* css title main       */
.title-main {
     color: var(--text2-color);
     font-weight: 500;
     font-size: 28px;
     padding: 20px 0 35px 0;
     text-transform: uppercase;
     position: relative;
     cursor: pointer;
}

.title-main2 {
     color: var(--text2-color);
     font-weight: 500;
     font-size: 50px;
     padding: 20px 0;
     text-transform: uppercase;
}
.title-main span {
     color: var(--text2-color);
     font-weight: 600px;
}

.title-xxl {
     font-size: 80px;
}
.title-xl {
     padding-top: 10%;
     font-size: 40px;
}

.title-l {
     margin-top: 20px;
     font-size: 25px;
}

#main {
     position: relative;
}

/* css header contact */
#contact {
     color: var(--text2-color);
}
.span {
     padding-right: 7px;
     font-size: 10px;
}
.contact-wrap {
     display: flex;
     justify-content: flex-end;
     max-height: 30px;
     margin-top: 2px;
}
.contact-item {
     display: flex;
     padding: 2px 20px;
     border-left: 1px solid var(--border1-color);
}
.contact-item p {
     font-size: 13px;
}

/* css header */
#header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 999;
     box-shadow: 0 0 5px 0 var(--boxshadow2-color);
     opacity: 0.9;
     background-color: #fff;
}
.header-wrap {
     display: flex;
     height: 60px;
     align-items: center;
     min-height: 100px;
     padding: 20px;
     border-radius: 2px;
     justify-content: space-between;
}
/* css logo  */
.logo {
     width: 160px;
}
.logo img {
     max-width: 100%;
     box-sizing: border-box;
}
/* css navbar */
#navbar {
     display: flex;
     list-style: none;
     flex: 1;
     justify-content: flex-end;
}
#navbar a,
.sp {
     font-size: 2rem;
     margin: 0 15px;
     padding: 0 5px;
     font-weight: 500;
     color: var(--text2-color);
     text-transform: uppercase;
     cursor: pointer;
     line-height: 60px;
     text-decoration: none;
     text-align: center;
     /* position: relative; */
}
.sp a {
     padding: 0;
     margin: 0;
     font-size: 16px !important;
}
#navbar a:hover,
.sp:hover {
     color: var(--text-des-color);
}
#navbar a:hover ul {
     display: block;
}
#navbar .sp:hover ul {
     display: block;
}

#navbar ul {
     display: none;
     border-radius: 2px;
     position: absolute;
     top: 100%;
     min-width: 250px;
     left: 40%;
     background-color: #fff;
     padding: 0;
     box-shadow: 1px 1px 6px 1px rgb(102 102 102 / 80%);
}

#navbar ul li {
     color: #172183;
     list-style: none;
     font-size: 16px;
     text-align: left;
     padding-left: 15px;
     text-transform: none;
}

#navbar ul li:hover {
     color: #172183;
     background-color: #ccc;
}
/* css menu */
.menu-mobile {
     color: #172183;
     border-radius: 2px;
     display: none;
}
.menu-mobile svg {
     padding: 6px 8px;
     cursor: pointer;
}
.menu-mobile:hover {
     color: #fff;
     background-color: #172183;
     transition: all 0.5s linear;
}

/* css footer  */
footer {
     background-color: var(--bg2-color);
     width: 100%;
     min-height: 200px;
}
.footer-wrap {
     display: flex;
     justify-content: space-between;
     padding: 5rem 0 3rem 0;
     color: var(--text3-color);
}
.logo-company {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.footer-wrap img {
     width: 280px;
     filter: brightness(0) invert(1);
}

.footer-wrap .text {
     width: 85%;
     font-size: 14px;
     padding-top: 20px;
     text-align: center;
}
.footer-wrap .about {
     display: flex;
     flex-direction: column;
}
.footer-wrap .title {
     font-size: 30px;
     margin-left: 20px;
     color: var(--text3-color);
     font-weight: 500;
     padding-bottom: 20px;
}

.about a {
     text-decoration: none;
     margin: 10px 0;
     margin-left: 20px;
     color: var(--text3-color);
}
.about svg {
     margin-right: 10px;
}
.footer-map {
     width: 30%;
     min-height: 250px;
     border: 2px solid #fff;
}
.footer-map iframe {
     width: 100%;
     height: 100%;
     min-width: 500px;
}
.line-end {
     border-top: 1px solid var(--border1-color);
     font-size: 18px;
     color: var(--text3-color);
     padding: 10px 0;
}
/* css btn-hotline  */

.btn-hotline {
     position: fixed;
     text-align: center;
     min-height: 40px;
     line-height: 40px;
     font-size: 1.5rem;
     background-color: #172183;
     color: var(--text3-color);
     box-shadow: 1px 1px 5px 1px rgb(102 102 102 / 90%);
     border: none;
     border-radius: 3px;
     bottom: 0;
     right: 0;
     margin: 0 1rem 1rem;
     padding: 0.2rem 0.8rem;
     cursor: pointer;
}
.btn-hotline:hover {
     opacity: 0.9;
}
/* css thumb page child  */

#thumb {
     width: 100%;
     min-height: 250px;
     max-height: 400px;
     background-color: var(--bg5-color);
     text-align: center;
     margin-top: 100px;
}

#thumb .title {
     width: 100%;
     padding-top: 2%;
     color: var(--text2-color);
     font-size: 50px;
     font-weight: 700;
     text-transform: uppercase;
}
#thumb .des {
     font-size: 22px;
     color: var(--text1-color);
}
/* css project     */

.project {
     margin-bottom: 20px;
     position: relative;
     overflow: hidden;
     color: var(--text3-color);
     font-size: 20px;
     font-weight: 500;
}

.project-des {
     display: none;
     bottom: 15%;
     padding-bottom: 5px;
     position: absolute;
     left: 10%;
     font-size: 16px;
     width: 85%;
     font-weight: 400;
}

.project img {
     width: 100%;
     min-height: 450px;
     opacity: 0.9;
     object-fit: cover;
     object-position: right;
     cursor: pointer;
     transition: all 0.2s linear;
}

/* .project:hover{
     color: red;
} */
.project:hover .project-des {
     display: block;
     transition: all 0.2s linear;
}
.project:hover .project-title {
     bottom: 40%;
     transition: all 0.2s linear;
}
.project:hover img {
     transform: scale(1.03);
     border: 1px solid #f5f5f58f;
}
.project-title {
     bottom: 25%;
     padding-bottom: 10px;
     position: absolute;
     left: 10%;
     border-bottom: 2px solid #ccc;
     width: 85%;
     text-transform: uppercase;
}
.project-btn {
     left: 10%;
     bottom: 5%;
     position: absolute;
     cursor: pointer;
     text-decoration: none;
     color: #fff;
}
.project-btn:hover {
     color: #013189;
}
/* css show moblie */
.show {
     display: flex !important;
     /* color: red; */
     flex-direction: column;
     z-index: 999;
     position: absolute;
     width: 100%;
     background: #ccc;
     top: 100px;
     left: 0px;
}
/* css active project */

.activeProject {
     color: red;
     position: relative;
}
.activeProject::after {
     content: "";
     width: 100%;
     height: 4px;
     position: absolute;
     bottom: 0;
     background-color: red;
     left: 0;

}
.scroll {
     flex-wrap: nowrap !important;
     transition: all 1s linear;
}
.btn-hiden{
opacity: 0.5;
}
