#content {margin-top: 90px;
margin-bottom: 50px;
}
#content  .title{
     font-size: 30px;
     color: blue;
     text-transform: uppercase;
     padding: 20px;
     font-weight: 500;
}
#content  .list{
display: flex;
flex-wrap: wrap;
}
#content {

}
.list .item {
/* border: 1px solid red; */
margin: 10px 0;
}
.item img {
     border: 1px solid blue;
padding: 10px 0;
}
