.content {
     margin-top: 70px;
}

.info p{
     font-size: 20px;
     font-weight: 500;
     border-bottom: 1px solid #ccc;
     padding: 10px 20px;
     display: block;
}
.info span{
     color: #634545;
    padding-left: 10px;
    font-weight: 400;
}
.group-btn{
     display: flex;
     align-items: center;
}
.group-btn svg{
margin-left: 15px;
}
/* .group-btn{
} */
#thumb .title{
position: relative;
}
#thumb .title p::before{
position: absolute;
content: '';
width: 200px;
height: 8px;
bottom: -10px;
background-color: #49a6e9;
}
#projects{
     overflow: hidden;
}
.loop {
     /* display: none; */
     flex-wrap: nowrap;

}
.detail-pj .des-main{
text-align: left;
}
