#main {
     position: relative;
}
/* css header */
#header {
     position: fixed;
     height: 90px;
     background-color: var(--bg-header-color);
     top: 0;
     left: 0;
     width: 100vw;
     z-index: 999;
     box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
     opacity: 0.9;
}
.header-wrap {
     display: flex;
     height: 90px;
     align-items: center;
}
/* css logo  */
.logo {
     width: 160px;
}
.logo img {
     max-width: 100%;
     box-sizing: border-box;
}
/* css navbar */
#navbar {
     display: flex;
     list-style: none;
     flex: 1;
     justify-content: flex-end;
}
#navbar a {
     font-size: 1.7rem;
     padding: 0 10px;
     font-weight: 500;
     color: var(--text-color);
     text-transform: uppercase;
     cursor: pointer;
     line-height: 90px;

}
#navbar a:hover {
     color: var(--text-des-color);
     background-color: #f8f8f8;
}
/* css carousel  */
#carousel {
     margin-top: 90px;
     width: 100%;
     /* max-height: 200px; */
}
.carousel-indicators [data-bs-target] {
     width: 12px;
     height: 12px;
     border-radius: 50%;
}
/* css text run  */
#text-run {
     font-size: 2rem;
     padding: 1rem 0;
     text-align: center;
}

/* css content > introduce  */
#content {
     width: 100%;
}
#introduce {
     display: flex;
     padding: 2rem 0;
}
/* css img  */
.introduce-img {
}
.introduce-img img {
     width: 100%;
     /* min-height: 100vh; */
     /* object-fit: cover; */
}
/* css content  */
.introduce-content {
}
.introduce-title {
     color: var(--text-des-color);
     font-size: 4rem;
     text-transform: uppercase;
     font-weight: 500;
}
.introduce-des {
     color: var(--text-des-color);
     font-size: 2rem;
     padding: 1.5rem 0;
}
/* css pattern  */
#partner {
     width: 100%;
     min-height: 100px;
     overflow: hidden;
     padding-bottom: 20px;
}
.partner-title {
     color: var(--text-des-color);
     font-size: 3rem;
     text-transform: uppercase;
     font-weight: 600;
}
.partner-wrap {
     display: flex;
     max-height: 150px;
}
.partner-wrap img {
     margin: 0 10px;
     padding: 0 10px;
     width: calc(100% / 8);
     border: 1px solid #dfdfdf;
     object-fit: contain;
     box-shadow: 0px 0px 0 0 #999;
     cursor: pointer;
}
/* css footer  */
footer {
     background-color: var(--text-des-color);
     width: 100%;
     min-height: 200px;
}
.footer-wrap {
     display: flex;
     justify-content: space-between;
     padding: 1.2rem 0;
}
.footer-contact {
     display: flex;
     flex-direction: column;
     justify-items: center;
     align-items: center;
     color: var(--white-color);
     width: 40%;
     font-size: 14px;
}
.footer-contact div {
     padding: 1rem 0 0 0;
}
.logo-company {
     width: 180px;
}
.logo-company img {
     width: 100%;
     filter: brightness(0) invert(1);
}
.link-company span {
     padding: 0 10px;
}
.footer-map {
     width: 30%;
     min-height: 250px;
     border: 2px solid #fff;
}
/* css btn-hotline  */

.btn-hotline {
     position: fixed;
     text-align: center;
     min-height: 40px;
     line-height: 40px;
     font-size: 1.5rem;
     background-color: #172183;
     color: #fff;
     box-shadow: 1px 1px 5px 1px rgb(102 102 102 / 90%);
     border: none;
     border-radius: 3px;
     bottom: 0;
     margin: 0 0 1rem 1rem;
     padding: 0.2rem 0.8rem;
     cursor: pointer;
}
.btn-hotline:hover {
opacity: 0.9;
}
