#content {
     margin: 40px 0;
}
#content #title {
     font-size: 50px;
     text-align: center;
     margin-bottom: 50px;
     text-transform: uppercase;
}
.project {
     margin-bottom: 40px;
}
.project img {
     min-height: 550px;
     width: 100%;
}
#projects .title-main {
     padding: 10px;
     margin-bottom: 40px;
}
